 /* 下面的循序不能改 */

 .slide-enter {
     opacity: 0;
     transform: translateX(100%);
 }

 .slide-enter-active {
     opacity: 1;
     transform: translateX(0);
     transition: all .3s;
 }

 .slide-exit {
     opacity: 1;
     transform: translateX(0);
 }

 .slide-exit-active {
     opacity: 0;
     transform: translateX(-100%);
     transition: all .3s;
 }

 /**/

 @height_b: `document.body.clientHeight`;
 .fade-enter {
     opacity: 0.01;
 }

 .fade-enter-active {
     opacity: 1;
     transition: all 500ms ease-in;
 }

 .fade-leave {
     opacity: 1;
 }

 .fade-leave-active {
     opacity: 0.01;
     transition: all 300ms ease-in;
 }

 .sspp {
     width: 100%;
 }

 .alert-message {
     margin: 20px 0;
     padding: 20px;
     border: 1px solid transparent;
     border-left: 3px solid #eee;
     transition: all .2s;
     border-radius: 4px;
 }

 .alert-message h4 {
     margin-top: 0;
     margin-bottom: 5px;
 }

 .alert-message p:last-child {
     margin-bottom: 0;
 }

 .alert-message code {
     background-color: #fff;
     border-radius: 3px;
 }

 .alert-message-success {
     background-color: #F4FDF0;
     border-color: #3C763D;
 }

 .alert-message-success h4 {
     color: #3C763D;
 }

 .alert-message-danger {
     background-color: #fdf7f7;
     border-color: #d9534f;
 }

 .alert-message-danger h4 {
     color: #d9534f;
 }

 .alert-message-warning {
     background-color: #fcf8f2;
     border-color: #f0ad4e;
 }

 .alert-message-warning h4 {
     color: #f0ad4e;
 }

 .alert-message-info {
     background-color: #f4f8fa;
     border-color: #5bc0de;
 }

 .alert-message-info h4 {
     color: #5bc0de;
 }

 .alert-message-default {
     background-color: #EEE;
     border-color: #B4B4B4;
 }

 .alert-message-default h4 {
     color: #000;
 }

 .alert-message-notice {
     background-color: #FCFCDD;
     border-left-color: #BDBD89;
 }

 .alert-message-notice h4 {
     color: #444;
 }

 .alert-message-border {
     border: 1px solid #d9534f !important;
 }

 .checkbox label:after {
     content: '';
     display: table;
     clear: both;
 }

 .checkbox .cr {
     position: relative;
     display: inline-block;
     border: 1px solid #a9a9a9;
     border-radius: .25em;
     width: 1.3em;
     height: 1.3em;
     float: left;
     margin-right: .5em;
 }

 .checkbox .cr .cr-icon {
     position: absolute;
     font-size: .8em;
     line-height: 0;
     top: 50%;
     left: 15%;
 }

 .checkbox label input[type="checkbox"] {
     display: none;
 }

 .checkbox label input[type="checkbox"]+.cr>.cr-icon {
     opacity: 0;
     transition: all .2s;
 }

 .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
     opacity: 1;
 }

 .checkbox label input[type="checkbox"]:disabled+.cr {
     opacity: .5;
 }